img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
  text-align: left;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 64px;
  transform: translateY(-50%);
  color: #f7f7f7;
}

.hero-content h1 {
  margin: 0;
  font-size: 48px;
  color: #f7f7f7;
  font-weight: 600;
  line-height: 32px;
  font-family: Inter, sans-serif;
}

.hero-content p {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #f7f7f7;
}

.hero-content button {
  width: 173px;
  height: 56px;
  background-color: var(--color-hero-button);
  color: var(--color-white);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
  cursor: pointer;
  border-radius: 200px;
  font-size: 16px;
}

.hero-content button:hover {
  background-color: var(--color-hero-button-hover);
}
