.filters-panel {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 64px;
  border-radius: 20px;
  background-color: var(--color-inputs);
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.filters-location-input {
  display: flex;
  align-items: center;
  width: 312px;
  height: 56px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-white);

  padding: 0 20px;
  gap: 8px;
}
.filters-location {
  padding-top: 44px;
}
.filters-location-input input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}
.filters-location-input img {
  width: 20px;
  height: 20px;
}

.filters-label {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 400;
  color: #6c717b;
}
.filters-text-style {
  width: 61px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #101828;
}
.filters-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.filters-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.filters-groups {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.filters-search-button {
  width: 312px;
  height: 56px;
  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  background-color: #829b91;
  color: #fff;
}
.filters-search-button:hover {
  background-color: var(--color-hero-button-hover);
  cursor: pointer;
}
.filters-clear-button {
  font-size: 16px;
  font-weight: 500;
  width: 312px;
  height: 56px;
  border: 1px solid #dadde1;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}
.filters-clear-button img {
  width: 10.5px;
  height: 10.5px;
}
.filters-clear-button:hover {
  background-color: var(--color-filter-bg);
  border-color: var(--color-hero-button-hover);
  cursor: pointer;
}
.filters-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filters-group input[type="checkbox"] {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid #6c717b;
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
}
.filters-group input[type="checkbox"]:checked {
  background-color: #e7f1ff;
  border-color: #0d6efd;
}
.filters-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.filters-group input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #6c717b;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.filters-group input[type="checkbox"]:checked {
  background-color: #e7f1ff;
  border-color: #0d6efd;
}

.filters-group input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  margin: 2px 0 0 6px;
  border: solid #0d6efd;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
